@model IEnumerable<HealthCareWeb.Models.Patient>

@{
    ViewBag.Title = "Medical Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medical Records</h2>

<p>
    @Html.ActionLink("Add Patient", "Create")
</p>
@using (Html.BeginForm())
    {
    <p>
        Find a Patient: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
<table class="table">
    <tr>
        <th>
            <label class="control-label ">First Name</label>
        </th>
        <th>
            <label class="control-label ">Last Name</label>
        </th>
      
        <th>
            <label class="control-label ">Date Of Birth</label>
        </th>
        <th>
            <label class="control-label ">Patient ID</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hospitalID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hospitalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.hospitalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.hospitalID })
        </td>
    </tr>
}

</table>
