@*@model IEnumerable<HealthCareWeb.Models.Patient>*@
@model IEnumerable<HealthCareWeb.Models.Alert>

@{
    ViewBag.Title = "Medical Records Alerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medical Records Alerts</h2>

<table class="table">
    <tr>
        @*<th>
            <label class="control-label ">First Name</label>
        </th>
        <th>
            <label class="control-label ">Last Name</label>
        </th>

        <th>
            <label class="control-label ">Date Of Birth</label>
        </th>
        <th>
            <label class="control-label ">Patient ID</label>
        </th>*@
        <th>
            <label class="control-label ">Patient Name</label>
        </th>
        <th>
            <label class="control-label ">Record ID</label>
        </th>
        <th>
            <label class="control-label ">Alert Description</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
                @*@Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hospitalID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "DetailsPatient", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>




